<div class="file-upload-container">
  <!-- Centralized button at the top -->

  <!-- File drop area -->
  <div class="file-drop-area">

    <div class="file-msg">

      <span *ngIf="filesToUpload.length > 0; else noFiles">
        Pdfs Selecionados:
        <ul>
          <li *ngFor="let file of filesToUpload">{{ file.name }}</li>
        </ul>
      </span>
      <ng-template #noFiles>Arraste os pdfs aqui</ng-template>
    </div>
    <input type="file" class="file-input" accept=".pdf" (change)="doFilePicked($event)" multiple>
  </div>
</div>